<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874620061966-2brngj6gigf2o27oj2vcromqgqt1a0jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874620061966-2brngj6gigf2o27oj2vcromqgqt1a0jn</string>
	<key>API_KEY</key>
	<string>AIzaSyBFe5dgDHDoIMCTQYADe9hPL_zGueIGck4</string>
	<key>GCM_SENDER_ID</key>
	<string>874620061966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lilipad.app</string>
	<key>PROJECT_ID</key>
	<string>lilipad-ef75d</string>
	<key>STORAGE_BUCKET</key>
	<string>lilipad-ef75d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874620061966:ios:25dbf56e7ce35a03dd6f5f</string>
</dict>
</plist>